.cart img {
  width: 200px;
}

.countHandler {
  display: inline-block;
}

.cart {
  max-width: 1250px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.checkout {
  text-align: center;
}
