@import "../_variables.scss";

.pme-footer {
  background-color: $grey;
  color: #fff;
  font-weight: 100;
  font-family: "Gilroy-Regular";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;

  a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: $red;
  }
}
