$red: #e5091c;
$grey: #333333;

.pme-navbar {
  height: 215px;
  background-color: $grey;
  padding-top: 20px;
  text-align: center;

  @media (min-width: 480px) {
    text-align: initial;
  }

  &__logo {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    span {
      color: $red;
    }

    @media (min-width: 480px) {
      font-size: 26px;
      padding-left: 5%;
    }
  }

  &__slogan {
    font-size: clamp(35px, 4vw, 52px);
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    padding-top: 27px;

    span {
      font-weight: 700;
    }
  }

  &__cart {
    width: 167px;
    height: 44px;
    border: none;
    background-color: $red;
    position: absolute;
    right: 10px;
    top: 17px;
    margin-right: 5%;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-family: Demo-Bebas;

    transition: 300ms ease all;

    // background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><line y1="-0.25" x2="31" y2="-0.25" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0.533081 0)" stroke="white" stroke-width="0.5"/><line x1="30.0661" y1="0.25" x2="-1.14598e-05" y2="0.249996" stroke="white" stroke-width="0.5"/></svg>')
    //   center center no-repeat;
    // background-size: cover;

    span {
      font-family: Gilroy-Regular;
    }
  }

  &__cart:hover {
    background-color: #c40818;
  }

  &__cart:before,
  &__cart:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cart svg:nth-child(3) {
    position: absolute;
    top: 7px;
    left: -64px;
    width: 100%;
    height: 57%;
  }

  &__cart svg:nth-child(4) {
    position: absolute;
    bottom: 7px;
    left: 132px;
    height: 57%;
  }

  // &__cart:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  // &__cart svg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  // &__cart:after {
  //   content: ""; /* Required for the pseudo-element to appear */
  //   position: absolute; /* Position the pseudo-element relative to the button */
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><line y1="-0.25" x2="31" y2="-0.25" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0.533081 0)" stroke="white" stroke-width="0.5"/><line x1="30.0661" y1="0.25" x2="-1.14598e-05" y2="0.249996" stroke="white" stroke-width="0.5"/></svg>')
  //     center center no-repeat;
  //   background-size: cover;
  //   pointer-events: none; /* Ensure the pseudo-element does not interfere with button clicks */
  // }

  // &__cart:after {
  //   content: ""; /* Required for the pseudo-element to appear */
  //   position: absolute; /* Position the pseudo-element relative to the button */
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: url("data:image/svg+xml;base64," + btoa(
  //         '<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><line y1="-0.25" x2="31" y2="-0.25" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0.533081 0)" stroke="white" stroke-width="0.5"/><line x1="30.0661" y1="0.25" x2="-1.14598e-05" y2="0.249996" stroke="white" stroke-width="0.5"/></svg>'
  //       ))
  //     center center no-repeat;
  //   background-size: cover;
  //   pointer-events: none; /* Ensure the pseudo-element does not interfere with button clicks */
  // }
}
