@import "../_variables.scss";

.pme-navbar {
  height: 215px;
  background-color: $grey;
  padding-top: 20px;
  text-align: left;

  @media (min-width: $breakpoint-tablet) {
    text-align: initial;
  }

  &__logo {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: initial;
      font-size: 26px;
      padding-left: 5%;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
    }

    span {
      color: $red;
    }
  }

  &__logo-mobile {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;

    span {
      color: $red;
    }

    @media (min-width: $breakpoint-tablet) {
      display: none;
      margin-left: 0;
    }
  }

  &__slogan {
    font-size: clamp(35px, 4vw, 52px);
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    padding-top: 27px;

    span {
      font-weight: 700;
    }
  }

  &__cart {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: initial;
      width: 167px;
      height: 44px;
      border: none;
      background-color: $red;
      position: absolute;
      right: 10px;
      top: 17px;
      margin-right: 5%;
      cursor: pointer;
      color: #ffffff;
      font-size: 20px;
      font-family: Demo-Bebas;
      transition: 300ms ease all;
    }

    span {
      font-family: Gilroy-Regular;
      font-size: 18px;
    }
  }

  &__cart-mobile {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &__cart:hover {
    background-color: #c40818;
  }

  &__cart:before,
  &__cart:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cart svg:nth-child(2) {
    position: absolute;
    top: 7px;
    left: -64px;
    width: 100%;
    height: 57%;
  }

  &__cart svg:nth-child(3) {
    position: absolute;
    bottom: 7px;
    left: 132px;
    height: 57%;
  }
}
