.active {
  /* color: #e5091c !important;
  border-bottom: 3px solid #e5091c !important;
  padding-bottom: 23px; */
}

.map {
  outline: 2px solid red;
  padding: 20px;
}

.event-filter {
  /* height: 70px; */
  /* display: flex;
  align-items: center; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 70px;
  max-width: 1250px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;

  justify-content: center;
}

@media (min-width: 831px) {
  .event-filter {
    justify-content: space-between;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.filter__text {
  color: black;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  margin-right: 10px;
  border: none;
  background: #fff;
  cursor: pointer;

  padding-top: 25px;
  padding-bottom: 11px;
}

@media (min-width: 831px) {
  .filter__text {
    font-size: 20px;
    margin-right: 20px;
  }
}

.filter__select {
  display: inline;
  position: relative;
}

.filter__select::after {
  display: inline-block;
  /* margin-left: 0.255em; */
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;

  position: absolute;
  top: 5px;
  right: 28px;
}

.filter__select-text:focus {
  outline: none;
}

.filter__select-text {
  color: black;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
  padding-top: 25px;

  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  /* background-image: none; */

  appearance: none;
  width: 150px;
  border: 1px solid transparent;
}

@media (min-width: 831px) {
  .filter__select-text {
    font-size: 20px;
  }
}

.filter__select-text option {
  padding: 10px;
}

.filter__search {
  display: inline;
}

.filter__search input {
  margin-top: 18px;
  line-height: 28px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: #fcfcfc;
  float: right;
  width: 350px;
  padding-left: 10px;
}

.filter__text.active {
  border-bottom: 3px solid red;
}

.filter__text:hover {
  border-bottom: 3px solid red;
}

.events__container {
  max-width: 1250px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.single_event {
  border: 1px solid black;
  /* max-width: 370px; */

  /* margin: 20px 10px; */
  min-height: 425px;

  margin: auto;
  max-width: 400px;
  margin-bottom: 24px;
}

.events-cards {
  margin: auto;
  max-width: 1250px;
}

.events-section {
  background: #f4f4f4;
  padding-top: 46px;
  padding-bottom: 46px;
}

/* .event_card {
  border: 1px solid red;
  margin: 10px;
} */

.single_event-header {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #333333;
}

.single_event-header:hover {
  color: red;
}

.single_event img {
  width: 100%;
}

.footer {
  outline: 2px solid red;
  padding: 20px;
}

.map {
  width: 100%;
  height: 520px;
  border-bottom: 5px solid #333333;
}

.map-container {
  width: 100%;
  height: 520px;
  border-bottom: 5px solid #333333;
}

.info-window {
  max-width: 180px;
  text-align: left;
  max-height: 150px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.map-container {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.info-details {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  line-height: 24px;
  white-space: nowrap;
}

.info-details:hover {
  color: red;
}

.container {
  padding-right: 30px !important;
  padding-left: 30px !important;
  /* margin-right: 0px; */
  /* margin-left: 0px; */

  max-width: none !important;
}

.prev_next {
  text-align: center;
}
